*{
    padding :0;
    margin:0;
}

/*HEADER SECTION*/
#index-page-body{
    height: 100vh;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-section{
    height : 80px;
    width:100%;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align:center;
    padding: 1.3% 0%;
}
.header-box{
    height:100%;
    width:100%;
    padding:0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    align-items: center;
  justify-content: center;
}
.logo{
    height:100%;
    width :auto;
    background-color:inherit;
}
.app-title{
    padding: 0%;
    font-size:70px;
    font-family: 'Shrikhand', cursive;
    margin:0 20px;
    line-height: 80px;
}

@media (max-width:500px){
    .app-title{
        font-size:55px;
    }
}
@media (max-width:360px){
    .app-title{
        font-size:35px;
    }
}
/*HEADER SECTION styling ends up here*/

/*Enter Box*/
.enter-box{
    height:300px;
    width:300px;
    margin:auto auto;
    box-shadow: 1px 1px rgb(211, 75, 75);
    box-sizing: border-box;
}
.entry-box{
    height:95%;
    width: 95%;
    margin:80px auto;
    padding-top: 25%;
}
.label{
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    font-size:30px;
}
.input-box input{
    width:100%;
    outline: none;
    -moz-user-focus: none;
    height:30px;
    border-radius:20px;
    border: none;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
}
.submit-button-div{
    margin-top:15px;
    text-align: center;
}
#join-button{
    height:30px;
    border:none;
    width:80px;
    background:inherit;
    font-size: 20px;
    border:1px solid #000;
    border-radius:20px;
}
#join-button:hover{
    background-color: #000;
    color:#fff;
}
.error{
    color:#fff;
    margin-top:10px;
    font-weight: bolder;
}
/*Enter Box*/

/*Container Div styling*/
.container{
    width:100%;
    height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.col-3{
    width:24%;
    height : 100%;
    background: #FF512F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.col-9{
    width:76%;
}

.people{
    width: 100;
    text-align:center;
    margin-top:6%;
    color:#fff;
    font-size:40px;
}

.message-box{
    width:100%;
    height: 90%;
    background-image: url('../img/chat-bg.jpg');
    background-repeat:repeat;
    overflow: scroll;
    padding: 2em;
    box-sizing: border-box;
}

.message-sending-box{
    width:100%;
    height:10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#text-message{
    height:100%;
    font-size: 17px;
    border: none;
    float: left;
    width: 95%;
    background: white;
    text-align: left;
    padding: 1em;
    box-sizing: border-box;
}
#send-message-button {
    border: none;
    height: 100%;
    width:5%;
    background: #FF512F;
    color: white;
    cursor: pointer;
    padding: 10px;
  }

  #send-message-button:hover {
    border: none;
    background: rgb(139, 79, 67);
    color: white;
  }

  #send-message-button:disabled {
    cursor: default;
    background: rgb(231, 163, 150);
  }

  #people-list {
      margin-top:40px;
  }
  #people-list li{
      text-align: left;
      margin-left:20px;
      font-size:30px;
      list-style: none;
  }
@media (max-width: 800px)
{
    .people{
        font-size:30px;
    }
    #people-list li{
        font-size:25px;
    }
}

@media (max-width : 400px)
{
    .people{
        font-size:20px;
    }
    #people-list li{
        margin:0;
        font-size:15px;
    }
}

.flex {
    display: flex;
}
.message {
    display: flex;
    margin-bottom: 2em;
    background: white;
    border-radius: 30px;
    padding: 15px;
    box-sizing: border-box;
}
.letter {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    background: linear-gradient(to right, #DD2476, #FF512F);
    border-radius: 100%;
    margin-right: 1em;
}

.from {
    margin-right: 1em;
}
.time {
    font-style: italic;
    font-size: 0.9em;
}

.items-center {
    align-items: center;
}
.items-end {
    align-items: flex-end;
}
.justify-center {
    justify-content: center;
}
.from-details {
    margin-bottom: 1em;
}
